$main_color: #40a74a; // 主色
$sub_color: #7fac5c; // 次色
$gradient_color: linear-gradient(to bottom, #4b8f32, #82e062, #afff93);
$white_color: #fff;
$black_color: #000;
$title_background_color: #87c0a8; // 内容标题栏背景色
$title_icon_sub_color_0: #0d4ea8; // 内容标题图标辅助色1
$title_icon_sub_color_1: #ffcc33; // 内容标题图标辅助色2
$login_form_bg_color: #a6d296;
$shadow_color:#606266;
$content_bg_color: #489065;